.pro-block-steps {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 48px;
    margin-bottom: 48px;
}

.pro-block-step {
    --couter-number-offset: 60px;
    --media-side-offset: 170px;

    display: flex;
    align-items: center;
    gap: 100px;
}

.pro-block-step__media {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 0 0 auto;
}

.pro-block-step .pro-block-step__media img {
    position: relative;
    z-index: 1;
    border-radius: 32px !important;
    box-shadow: 0 2.77px 2.21px 0 hsla(0, 0%, 0%, 0.02),
    0 6.65px 5.32px 0 hsla(0, 0%, 0%, 0.03),
    0 12.52px 10.02px 0 hsla(0, 0%, 0%, 0.04),
    0 22.34px 17.87px 0 hsla(0, 0%, 0%, 0.04),
    0 41.78px 33.42px 0 hsla(0, 0%, 0%, 0.05),
    0 100px 80px 0 hsla(0, 0%, 0%, 0.07);
}

.pro-block-step__media::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    width: 100vw;
    height: 280px;
    transform: translateY(-50%);
    pointer-events: none;
}

.align-left .pro-block-step__media::before {
    right: 0;
    background: #fff linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #EFEFEF 120%);
}

.align-right .pro-block-step__media::before {
    left: 0;
    background: #fff linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #EFEFEF 120%);
}

.pro-block-step__counter {
    position: absolute;
    top: 50%;
    color: #E6E6E6;
    font-family: Montserrat, sans-serif;
    font-size: 200px;
    font-weight: 700;
}

.align-left .pro-block-step__counter {
    left: calc(var(--couter-number-offset) * -1);
    transform: translateY(-50%) translateX(-100%);
}

.align-right .pro-block-step__counter {
    right: calc(var(--couter-number-offset) * -1);
    transform: translateY(-50%) translateX(100%);
}

.pro-block-step__content {
    max-width: 460px;
}

.pro-block-step__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.pro-block-step__title {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 26px;
}

.pro-block-step__text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

@media ( max-width: 1340px ) and ( min-width: 1200px ) {
    .pro-block-step {
        --couter-number-offset: clamp(40px, -131.4286px + 14.2857vw, 60px);
        --media-side-offset: clamp(170px, 648.5714px + -35.7143vw, 220px);

        gap: clamp(80px, -91.4286px + 14.2857vw, 100px);
    }
}

@media ( max-width: 1199.5px ) {
    .pro-block-step {
        gap: clamp(48px, -16px + 8vw, 80px);
    }

    .pro-block-step.align-left {
        --couter-number-offset: clamp(10px, -50px + 7.5vw, 40px);
    }

    .pro-block-step.align-right {
        --couter-number-offset: clamp(-80px, -320px + 30vw, 40px);
    }

    .pro-block-step .pro-block-step__media img {
        width: clamp(180px, 96px + 10.5vw, 222px);
    }

    .align-right .pro-block-step__media::after {
        transform: translateY(calc( clamp(150px, 90px + 7.5vw, 180px) * -1 ));
    }
}

@media ( min-width: 800px ) {
    .pro-block-step.align-left {
        margin-left: var(--media-side-offset);
    }

    .pro-block-step.align-right {
        margin-right: var(--media-side-offset);
        flex-direction: row-reverse;
    }

    .pro-block-step__media::after {
        position: absolute;
        top: 100%;
        z-index: -1;
        width: 602px;
        background-image: url(steps-line.svg);
        background-repeat: no-repeat;
        content: "";
        pointer-events: none;
    }

    .pro-block-step:last-child .pro-block-step__media::after {
        display: none;
    }

    .align-left .pro-block-step__media::after {
        height: 400px;
        left: -60px;
        transform: translateY(-90px);
        background-position: top center;
    }

    .align-right .pro-block-step__media::after {
        height: 300px;
        right: 60px;
        transform: translateY(-180px);
        background-position: bottom center;
    }

}

@media ( max-width: 799.5px ) {
    .pro-block-step {
        flex-direction: column;
        gap: clamp(24px, -25.8462px + 9.2308vw, 48px);
    }

    .pro-block-step.align-right {
        --couter-number-offset: -50px;
    }

    .pro-block-step .pro-block-step__media img {
        width: clamp(172px, 155.3846px + 3.0769vw, 180px);
    }

    .pro-block-step__counter {
        font-size: clamp(180px, 138.4615px + 7.6923vw, 200px);
    }
}

@media ( max-width: 539.5px ) {
    .pro-block-step.align-left {
        align-items: flex-end;
    }

    .pro-block-step.align-right {
        align-items: flex-start;
    }

    .pro-block-step__media {
        width: 100%;
    }

    .align-left .pro-block-step__media {
        justify-content: flex-end;
    }

    .align-left .pro-block-step__counter {
        left: 0;
        transform: translateY(-50%);
    }

    .align-right .pro-block-step__counter {
        right: 0;
        transform: translateY(-50%);
    }
}

@media ( max-width: 374.5px ) {
    .align-left .pro-block-step__counter {
        left: auto;
        right: 172px;
    }
}
