:root {
    --blockify-hero-font-family-main: 'Roboto';
    --blockify-hero-font-family-title: 'Montserrat';

    --blockify-hero-text-color: #000;
    --blockify-hero-background-color: #fff;
    --blockify-hero-background-color-v2: #ededed;

    --blockify-hero-font-size-xl: 40px;
    --blockify-hero-font-size-l: 24px;
    --blockify-hero-font-size-m: 18px;
    --blockify-hero-font-size: 16px;
}

@media (max-width: 950px) {
    :root {
        --blockify-hero-font-size-xl: 34px;
        --blockify-hero-font-size-l: 18px;
        --blockify-hero-font-size-m: 16px;
        --blockify-hero-font-size: 14px;
    }
}

.blockify-hero {
    position: relative;
    margin-top: 150px;
    padding: 32px;
    background-color: var(--blockify-hero-background-color-v2);
    border-radius: 24px;
    font-family: var(--blockify-hero-font-family-main), sans-serif;

    @media (max-width: 950px) {
        margin-top: 0;
        padding: 24px 16px;
    }

    & .heading {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 560px;

        @media (max-width: 950px) {
            gap: 24px;
        }

        & .title {
            margin: 0;
            color: var(--blockify-hero-text-color);
            font-family: var(--blockify-hero-font-family-title), sans-serif;
            font-size: var(--blockify-hero-font-size-xl);
            font-style: normal;
            font-weight: 700;
            line-height: 105%;
        }

        & .subtitle {
            display: flex;
            align-items: center;
            gap: 12px;
            margin: 0;
            color: var(--blockify-hero-text-color);
            font-family: inherit;
            font-size: var(--blockify-hero-font-size-l);
            font-style: normal;
            font-weight: 600;
            line-height: 83%;
            text-transform: uppercase;

            &::before {
                content: '';
                display: block;
                width: 32px;
                height: 1px;
                background-color: var(--blockify-hero-text-color);
            }
        }
    }

    & .cards {
        position: relative;
        z-index: 2;
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;

        @media (max-width: 950px) {
            margin-top: 0;
            grid-template-columns: 1fr;
            gap: 16px;
        }
    }

    & .card {
        display: flex;
        gap: 24px;
        padding: 20px;
        border-radius: 24px;
        background-color: var(--blockify-hero-background-color);
        box-shadow:
            0 100px 80px 0 rgba(0, 0, 0, 0.07),
            0 41px 33px 0 rgba(0, 0, 0, 0.05),
            0 22px 17px 0 rgba(0, 0, 0, 0.04),
            0 12px 10px 0 rgba(0, 0, 0, 0.04),
            0 6px 5px 0 rgba(0, 0, 0, 0.03),
            0 2px 2px 0 rgba(0, 0, 0, 0.02);

        @media (max-width: 950px) {
            gap: 16px;
            padding: 20px 16px;
        }

        &.empty {
            opacity: 0;
            user-select: none;
            min-height: 200px;

            @media (max-width: 950px) {
                display: none;
            }
        }

        & img {
            flex-shrink: 0;
            object-fit: cover;
            width: 130px;
            height: 160px;
            border-radius: 24px !important; /* Override the Mercury border-radius */

            @media (max-width: 950px) {
                width: 90px;
                height: 110px;
            }
        }

        & .content {

        }

        & .title {
            margin: 0;
            font-family: var(--blockify-hero-font-family-title), sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 122%;
        }

        & .text {
            margin-top: 20px;
            margin-bottom: 0;
            color: var(--blockify-hero-text-color);
            font-family: inherit;
            font-size: var(--blockify-hero-font-size);
            font-weight: 400;
            line-height: 125%;

            p {
                margin: 0;
                padding: 0 !important;
                line-height: 125% !important;
            }

            ul {
                margin-left: 20px;
                margin-bottom: 20px;

                li {
                    padding: 0 0 5px;
                }
            }

            @media (max-width: 950px) {
                margin-top: 16px;
            }
        }
    }

    .hero-image {
        position: absolute;
        top: -150px;
        right: -50px;
        z-index: 1;
        display: flex;
        max-width: 650px;
        width: 650px;

        &::after {
            content: '';
            position: absolute;
            right: 50px;
            bottom: -50px;
            z-index: 2;
            width: 100%;
            height: 100px;
            background-color: var(--blockify-hero-background-color-v2);
            filter: blur(6px);
        }

        img {
            position: relative;
            z-index: 1;
            width: 100%;
        }

        @media (max-width: 950px) {
            position: static;
            top: auto;
            right: auto;
            margin-top: 32px;
            margin-left: auto;
            margin-right: auto;
            width: 100%;

            &::after {
                display: none;
            }
        }
    }
}
